body {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

.color-bbg {
    border-radius: 5px;
}

.banner {
    padding: 20px;
    z-index: 1;
    width: 100%;
    position: relative;
    background: #999999;
    display: flex;
    justify-content: center;
    align-items: center;
    //Coloca la url de la imagen dentro de URL('url de la imagen')
    background-image: linear-gradient( rgba(25, 209, 231, 0.5), rgba(243, 17, 224, 0.5)), url('https://s3-us-west-2.amazonaws.com/devcodepro/media/blog/frontend-y-backend.png');
    border-radius: 4px;
    // opacity: 0.3;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-color: #fffaaa;
    .banner-content {
        color: white;
        width: 60%;
        text-align: center;
        justify-content: center;
    }
}